<!-- <router-outlet></router-outlet> -->
<div class="menu">
  <p-tabMenu [model]="menuItems" [activeItem]="menuItems[0]"></p-tabMenu>
</div>
<ng-container *ngIf="pageType === PageTypes.HomePage; else pageTypeNutrientList">
  <ng-container *ngIf="nutrientList && nutrientList.length > 0">
    <div class="app-layout">
      <div class="inputs">
        <div class="inputs__item">
          <p-dropdown #nutrientDropdown [options]="nutrientList" [(ngModel)]="selectedNutrient" optionLabel="name"
            [filter]="true" filterBy="name" placeholder="Bir besin seçiniz..." dataKey="key"
            (ngModelChange)="onSelectedNutrientChanged()">
            <ng-template pTemplate="selectedNutrient">
              <div *ngIf="selectedNutrient">
                <div>{{ selectedNutrient.name }}</div>
              </div>
            </ng-template>
            <ng-template let-nutrient pTemplate="nutrient">
              <div>
                <div>{{ nutrient.name }}</div>
              </div>
            </ng-template>
          </p-dropdown>
        </div>
        <div class="inputs__item">
          <p-inputNumber mode="decimal" [(ngModel)]="selectedNutrient.unitQuantity" [minFractionDigits]="1"
            [maxFractionDigits]="1" [suffix]="' ' + selectedNutrient.unitType" [disabled]="selectedNutrient.key === ''">
          </p-inputNumber>
        </div>
        <div class="inputs__item">
          <div class="buttons">
            <p-button class="buttons__item" styleClass="p-button-success" label="Ekle" icon="pi pi-plus"
              (onClick)="onAddClicked(nutrientDropdown)" [disabled]="!selectedNutrient || selectedNutrient.key === ''">
            </p-button>
            <p-button class="buttons__item" label="Güncelle" icon="pi pi-pencil"
              (onClick)="onEditClicked(nutrientDropdown)"
              [disabled]="!gridSelectedNutrient || gridSelectedNutrient.key === ''"></p-button>
            <p-button class="buttons__item" styleClass="p-button-danger" label="Sil" icon="pi pi-trash"
              (onClick)="onDeleteClicked(nutrientDropdown)"
              [disabled]="!gridSelectedNutrient || gridSelectedNutrient.key === ''"></p-button>
          </div>
        </div>
      </div>
      <div *ngIf="enteredNutrientList && enteredNutrientList.length > 0" class="selected-nutrients">
        <div class="selected-nutrients__item">
          <p-table [value]="enteredNutrientList" selectionMode="single" [(selection)]="gridSelectedNutrient"
            dataKey="key" (onRowSelect)="onRowSelect()" (onRowUnselect)="onRowUnselect()">
            <ng-template pTemplate="header">
              <tr>
                <th>Besin</th>
                <th>Miktar</th>
                <th>Birim</th>
                <th>Kalori (kcal)</th>
                <th>Protein (g)</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-nutrient>
              <tr [pSelectableRow]="nutrient">
                <td>{{ nutrient.name }}</td>
                <td>{{ nutrient.unitQuantity }}</td>
                <td>{{ nutrient.unitType }}</td>
                <td>{{ nutrient.calories | number }}</td>
                <td>{{ nutrient.protein | number }}</td>
              </tr>
            </ng-template>
            <ng-template pTemplate="footer">
              <tr>
                <td colspan="3">Alınan / Hedef :</td>
                <td>
                  {{ totalCalories | number }}{{' / '}}{{ getDailyCalorieIntervalLowerBound() | number }}{{'-'}}{{ getDailyCalorieIntervalUpperBound() | number }}
                </td>
                <td>{{ totalProtein | number }}{{' / '}}{{ getDailyProteinNeed() | number }}</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>
<ng-template #pageTypeNutrientList>
  <ng-container *ngIf="nutrientList && nutrientList.length > 0">
    <div class="app-layout">
      <div class="nlinputs">
        <div class="nlinput__item">
          <p-button class="buttons__item" styleClass="p-button-success" label="Ekle" (onClick)="onNLAddClicked()"
            icon="pi pi-plus">
          </p-button>
        </div>
        <div class="nlinput__item">
          <p-button class="buttons__item" label="Güncelle" icon="pi pi-pencil" (onClick)="onNLEditClicked()"
            [disabled]="!gridNLSelectedNutrient || gridNLSelectedNutrient.key === ''"></p-button>
        </div>
        <div class="nlinput__item">
          <p-button class="buttons__item" styleClass="p-button-danger" label="Sil" icon="pi pi-trash"
            (onClick)="onNLDeleteClicked()" [disabled]="!gridNLSelectedNutrient || gridNLSelectedNutrient.key === ''">
          </p-button>
        </div>
      </div>
      <div class="nutrient-list">
        <p-table [value]="nutrientList" selectionMode="single" [(selection)]="gridNLSelectedNutrient" dataKey="key"
          (onRowSelect)="onNLRowSelect()" (onRowUnselect)="onNLRowUnselect()">
          <ng-template pTemplate="header">
            <tr>
              <th>Besin</th>
              <th>Miktar</th>
              <th>Birim</th>
              <th>Kalori</th>
              <th>Protein</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-nutrient>
            <tr [pSelectableRow]="nutrient">
              <td>{{ nutrient.name }}</td>
              <td>{{ nutrient.unitQuantity }}</td>
              <td>{{ nutrient.unitType }}</td>
              <td>{{ nutrient.calories | number }}</td>
              <td>{{ nutrient.protein | number }}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </ng-container>
</ng-template>
<p-dialog header="Veri Ayarları" [(visible)]="showDataSettings" [modal]="true">
  <div class="settings">
    <div *ngIf="dataSettings.dailyCalorieNeed > 0" class="settings__item">
      <label class="settings-label">Günlük Kalori İhtiyacı :</label>
      <p-inputNumber class="settings-input" mode="decimal" [(ngModel)]="dataSettings.dailyCalorieNeed"
        [minFractionDigits]="4" [maxFractionDigits]="4" suffix=" kcal">
      </p-inputNumber>
    </div>
    <div *ngIf="dataSettings.weight > 0" class="settings__item">
      <label class="settings-label">Kilo :</label>
      <p-inputNumber class="settings-input" mode="decimal" [(ngModel)]="dataSettings.weight" [minFractionDigits]="4"
        [maxFractionDigits]="4" suffix=" kg">
      </p-inputNumber>
    </div>
    <div *ngIf="dataSettings.fatRatio > 0" class="settings__item">
      <label class="settings-label">Yağ Oranı :</label>
      <p-inputNumber class="settings-input" mode="decimal" [(ngModel)]="dataSettings.fatRatio" [minFractionDigits]="4"
        [maxFractionDigits]="4" suffix=" %">
      </p-inputNumber>
    </div>
    <div *ngIf="dataSettings.target.key > 0" class="settings__item">
      <label class="settings-label">Fitness Hedefi :</label>
      <p-dropdown class="settings-input" [options]="targets" [(ngModel)]="dataSettings.target" optionLabel="value"
        dataKey="key">
      </p-dropdown>
    </div>
    <div *ngIf="dataSettings.key !== ''" class="settings__item">
      <p-button class="settings-button" label="Güncelle" icon="pi pi-pencil" (onClick)="onDataSettingsUpdateClicked()">
      </p-button>
    </div>
  </div>
</p-dialog>
<p-dialog [header]="processType === ProcessTypes.Add ? 'Besin Ekle' : 'Besin Güncelle'"
  [(visible)]="showAddUpdateNutrient" [modal]="true">
  <div class="add-update-nutrient">
    <div class="add-update-nutrient__item">
      <label class="add-update-nutrient-label">Besin :</label>
      <input class="add-update-nutrient-input" type="text" pInputText [(ngModel)]="addUpdatePopupNutrientModel.name" />
    </div>
    <!-- <div class="add-update-nutrient__item">
      <label class="add-update-nutrient-label">Miktar :</label>
      <p-inputNumber class="add-update-nutrient-input" mode="decimal" [(ngModel)]="dataSettings.weight" [minFractionDigits]="4"
        [maxFractionDigits]="4" suffix=" kg">
      </p-inputNumber>
    </div> -->
    <div class="add-update-nutrient__item">
      <label class="add-update-nutrient-label">Birim :</label>
      <input class="add-update-nutrient-input" type="text" pInputText
        [(ngModel)]="addUpdatePopupNutrientModel.unitType" />
    </div>
    <div class="add-update-nutrient__item">
      <label class="add-update-nutrient-label">Kalori :</label>
      <p-inputNumber class="add-update-nutrient-input" mode="decimal" [(ngModel)]="addUpdatePopupNutrientModel.calories"
        [minFractionDigits]="4" [maxFractionDigits]="4" suffix=" kcal">
      </p-inputNumber>
    </div>
    <div class="add-update-nutrient__item">
      <label class="add-update-nutrient-label">Protein :</label>
      <p-inputNumber class="add-update-nutrient-input" mode="decimal" [(ngModel)]="addUpdatePopupNutrientModel.protein"
        [minFractionDigits]="4" [maxFractionDigits]="4" suffix=" g">
      </p-inputNumber>
    </div>
    <div class="add-update-nutrient__item">
      <p-button class="add-update-nutrient-button" label="Kaydet" icon="pi pi-save" (onClick)="onNLSaveClicked()">
      </p-button>
    </div>
  </div>
</p-dialog>
