<!-- <router-outlet></router-outlet> -->
<ng-container *ngIf="nutrientList && nutrientList.length > 0">
  <div class="layout">
    <div class="layout-item">
      <p-dropdown
        [options]="nutrientList"
        [(ngModel)]="selectedNutrient"
        optionLabel="name"
        [filter]="true"
        filterBy="name"
        [showClear]="true"
        placeholder="Bir besin seçin..."
      >
        <ng-template pTemplate="selectedNutrient">
          <div *ngIf="selectedNutrient">
            <div>{{ selectedNutrient.name }}</div>
          </div>
        </ng-template>
        <ng-template let-nutrient pTemplate="nutrient">
          <div>
            <div>{{ nutrient.name }}</div>
          </div>
        </ng-template>
      </p-dropdown>
    </div>
    <div class="layout-item">
      <p-inputNumber
        mode="decimal"
        [(ngModel)]="unit_quantity"
        [minFractionDigits]="2"
        [maxFractionDigits]="2"
        [suffix]="selectedNutrient.unit_type"
        [disabled]="selectedNutrient.key === ''"
      ></p-inputNumber>
    </div>
    <div class="layout-item">
      <p-button
        label="Ekle"
        (onClick)="onAddClicked()"
        [disabled]="selectedNutrient.key === ''"
      ></p-button>
    </div>
  </div>
</ng-container>
